* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
}

#wrapper {
  padding: 10px 20px;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
}
td {
  border: 1px solid #f2f2f2;
  padding: 2px 5px;
  text-align: left;
}
td.label {
  color: #666;
  text-align: right;
}
