* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
}

#wrapper {
  padding: 10px 20px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 750px;
  background: #fff;
}
td {
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  border-left: 2px solid #e8e8e8;
  padding: 8px 10px;
  text-align: left;
  position: relative;
  vertical-align: top;
}
td.label {
  color: #666;
  text-align: right;
  padding-left: 0;
  border-left: 0;
}

input, .output {
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 2px;
  border: 1px solid transparent;
  overflow: hidden;
  width: 100%;
}
input {
  outline: none;
  position: absolute;
  left: 10px;
  top: 5px;
  background: transparent;
  color: transparent;
}

.output {
  white-space: pre;
  background: #f8f2d9;
  border-color: #f8f2d9;
}
.unmaintained .output {
  background: #e1ebe9;
  border-color: #e1ebe9;
}
.output .cursor {
  border: 1px solid #ad4246;
  margin: 0 -1px;
}

td button {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-family: sans-serif;
  font-size: 13px;
  padding: 1px 3px 2px;
  background: #eee;
  color: #666;
  border: 2px solid #eee;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
td button:hover {
  background: #e4e4e4;
  color: #222;
  border-color: #c0be9e;
}
td button.active, td button.active:hover {
  background: #c9c9c1;
  color: #111;
  border-color: #c9c9c1;
  cursor: default;
}

.scoreItem {
  margin-bottom: 10px;
}
.scoreItem .output {
  background: #deded5;
  border-color: #deded5;
}
.scoreItem .score {
  margin-left: 4px;
  color: #444;
}
.scoreItem.best .output {
  background: #f8f2d9;
  border-color: #f8f2d9;
}
.scoreItem.best .score {
  color: #000;
}
