* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1, h2, h3 {
  margin: 20px 0 10px;
}
h1 {
  color: #555;
}
h2 {
  color: #444;
}
h3 {
  color: #333;
}

#wrapper {
  margin: 20px;
}

p {
  margin: 10px 0;
}

input, textarea {
  font-size: 16px;
  outline: none;
  border: 2px solid #aaa;
  border-radius: 3px;
  padding: 4px 6px;
  background: #fbfbfb;
  color: #666;
}

input:focus, textarea:focus {
  border: 2px solid #666;
  background: #fff;
  color: #333;
}

input {
  width: 50%;
  max-width: 300px;
}

.toggle {
  margin: -10px 0 5px;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}
.toggle.active {
  color: #555;
}
.toggle .icon {
  font-size: 23px;
  margin-right: 2px;
  position: relative;
  top: 2px;
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 100px;
}
textarea.code {
  font-family: monospace;
}
